/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
	html, body, div, span, applet, object, iframe,
	h1, h2, h3, h4, h5, h6, p, blockquote, pre,
	a, abbr, acronym, address, big, cite, code,
	del, dfn, em, img, ins, kbd, q, s, samp,
	small, strike, strong, sub, sup, tt, var,
	b, u, i, center,
	dl, dt, dd, ol, ul, li,
	fieldset, form, label, legend,
	table, caption, tbody, tfoot, thead, tr, th, td,
	article, aside, canvas, details, embed, 
	figure, figcaption, footer, header, hgroup, 
	menu, nav, output, ruby, section, summary,
	time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
	}
/* HTML5 display-role reset for older browsers */
	article, aside, details, figcaption, figure, 
	footer, header, hgroup, menu, nav, section {
		display: block;
	}
	body {
		line-height: 1;
	}
	ol, ul {
		list-style: none;
	}
	blockquote, q {
		quotes: none;
	}
	blockquote:before, blockquote:after,
	q:before, q:after {
		content: '';
		content: none;
	}
	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

/* Set every element's box-sizing to border-box */
	* {
			box-sizing: border-box;
	}

	html, body {
			height: 100%;
			font-family: 'Titillium Web', sans-serif;
	}

	h1, h2, h3, h4, h5 {
			font-family: 'Bangers', cursive;
			letter-spacing: 1px;
			margin-bottom: 15px;
	}

/* Base CSS and Desktop */

	.container {
		width: 991px;
		margin: 0 auto;
		padding: 25px;
	}

/* Header and Nav */
	header {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	
	header nav {
		width: 68%;
		display: flex;
		justify-content: space-between;
	}
	
	header nav a {
		text-decoration: none;
		color: darkgray;
		font-family: sans-serif;
		font-size: 14px;
	}

	main {
		margin: 25px 0;
	}

	/* Flex Columns */
	.twocol, .threecol {
		display: flex;
		margin: 25px 0;
		justify-content: space-between;
		align-items: flex-start;
	}
	
	/* Headers Text */
	h1 {
		font-size: 90px;
	}
	
	h2 {
		font-size: 24px;
		padding-top: 10px;
	}
	
	h3 {
		font-size: 18px;
	}

/* Content Header */
.indexHeaderText {
	margin: auto;
	text-align: center;
}

#indexpage .contentHeader {
	align-items: center;
}

#indexpage button {
	background-color: snow;
	border: 1px solid black;
	padding: 5px 35px;
	text-align: center;
	text-decoration: none;
	font-size: 16px;
	}
	
	

/* Content */

.content {
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	margin: 25px 0;
}

.middle-img {
	width: 100%;
  }

.contact p {
	line-height: 20px;
	padding-bottom: 15px;
}

article {
	padding-right: 10px;
}

article:last-child {
	padding-right: 0;
}

footer {
	margin-bottom: 20px;
	text-align: center;
	font-size: 14px;
}

/* Services */

.services-header-img{
	width: 100%;
}

#services .content {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-between;
	padding: 15px 0;
}

#services article {
	background-color: Gainsboro;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 45%;
	padding: 15px 15px 5px 15px;
	border: 1px black solid;
	margin: 15px 15px 15px 0;
}

#services article:nth-child(even) {
	margin: 15px 0;
}

#services article button {
	background-color: snow;
	border: 1px solid black;
	padding: 8px 35px;
	text-align: center;
	text-decoration: none;
	margin: 10px 0;
	border-radius: 5px;
}

.facts div:first-child {
	padding-right: 30px;
}

.facts ul {
	list-style-type: square;
	padding: 10px 30px;
	line-height: 30px;
}

/* Medium Devices */
@media (max-width: 991px) {
	.container {
		width: 100%
	}
}

/* Small devices and Tablets */
@media (max-width: 767px) {

	header {
		flex-direction: column-reverse;
	}
	
	header nav {
		width: 100%;
		padding: 20px 0;
	}

	img {
		max-width: 100%;
	}

	#indexpage .contentHeader img {
		display: none;
	}
	
	main {
		margin: 0;
	}

	.facts {
		display: flex;
		flex-direction: column;
	}

	.facts div {
		width: 100%;
	}
	
}

/* Phones */
@media (max-width: 479px) {

	.container {
		padding: 10px 0;
	}
	
	header nav {
		flex-direction: column;
	}
	
	header nav a {
		text-align: center;
		padding: 10px;
		border-bottom: 1px solid darkgray;
	}
	
	header nav a:first-child {
		border-top: 1px solid darkgray;
	}

	header .logo {
		width: 100%;
		text-align: center;
	}

	h1 {
		font-size: 48px;
	}	

	main {
		margin: 0 15px;
	}

	/* Flex Columns */
	.twocol, .threecol {
		display: flex;
		flex-direction: column;
	}

	.twocol, .threecol {
		display: flex;
		flex-direction: column;
	}
	
	article {
		padding: 10px 0;
	}	

	#services article {
		margin: 0;
		flex-basis: 99%;
	}
	
}

